<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd"
      xml:lang="en" lang="en">
<wicket:head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title wicket:id="application.title"></title>
    <wicket:remove>
        <link href="../../../../../../webapp/css/my_layout.css" rel="stylesheet" type="text/css"/>
        <!--[if lte IE 7]>
        <link href="../../../../../../webapp/css/patches/patch_my_layout.css" rel="stylesheet" type="text/css"/>
        <![endif]-->
    </wicket:remove>
    <link href="css/my_layout.css" rel="stylesheet" type="text/css"/>
    <!--[if lte IE 7]>
    <link href="css/patches/patch_my_layout.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
</wicket:head>
<body>
<div class="page_margins">
    <div class="page">
        <div id="header" wicket:id="header">
            <wicket:remove>
                <div id="topnav">
                    <!-- start: skip link navigation -->
                    <a class="skip" title="skip link" href="#navigation">Skip to the navigation</a><span
                        class="hideme">.</span>
                    <a class="skip" title="skip link" href="#content">Skip to the content</a><span
                        class="hideme">.</span>
                    <!-- end: skip link navigation --><a href="#">Login</a> | <a href="#">Contact</a> | <a
                        href="#">Imprint</a>
                </div>
            </wicket:remove>
        </div>
        <div id="nav" wicket:id="menu">
            <wicket:remove>
                <!-- skiplink anchor: navigation -->
                <a id="navigation" name="navigation"></a>

                <div class="hlist">
                    <!-- main navigation: horizontal list -->
                    <ul>
                        <li class="active"><strong>Button 1</strong></li>
                        <li><a href="#">Button 2</a></li>
                        <li><a href="#">Button 3</a></li>
                        <li><a href="#">Button 4</a></li>
                        <li><a href="#">Button 5</a></li>
                    </ul>
                </div>
            </wicket:remove>
        </div>
        <wicket:child/>
        <wicket:remove>
            <div id="teaser">
            </div>
            <div id="main">
                <div id="col1">
                    <div id="col1_content" class="clearfix">
                        <!-- add your content here -->
                    </div>
                </div>
                <div id="col2">
                    <div id="col2_content" class="clearfix">
                        <!-- add your content here -->
                    </div>
                </div>
                <div id="col3">
                    <div id="col3_content" class="clearfix">
                        <!-- add your content here -->
                    </div>
                    <!-- IE Column Clearing -->
                    <div id="ie_clearing"> &#160; </div>
                </div>
            </div>
        </wicket:remove>
        <!-- begin: #footer -->
        <div id="footer" wicket:id="footer">
            <wicket:remove>Layout based on <a href="http://www.yaml.de/">YAML</a></wicket:remove>
        </div>
    </div>
</div>


<script language="JavaScript" src="/share/js/s_code.js"></script>
<script language="JavaScript" type="text/javascript"><!--
/* You may give each page an identifying name, server, and channel on
 the next lines. */

wpmsc.pageName="DHIN1:Smartsensor:de_0056";
wpmsc.channel="DHIN1:Produkte";
wpmsc.server="dsi.dhl-innovation.com";
//wpmsc.server="www.dhl-innovation.";
wpmsc.hier1="DHIN1|Produkte|Smartsensor";
wpmsc.hier2="GBS|MRI|DHL Innovation Center";
wpmsc.pageName="DHSMS:Shipments";
wpmsc.channel="DHSMS:Shipments";
wpmsc.server="www.smartsensor-temperature-test.dhl.com";
wpmsc.hier1="DHSMS|Shipments";
wpmsc.hier2="GBS|MRI|DHL Innovation Center";
wpmsc.pageType="";
wpmsc.prop1="DHSMS";
wpmsc.prop2="DHSMS:Shipments";
wpmsc.prop3="DHSMS:Shipments";
wpmsc.prop4="2";
wpmsc.prop5="de_DE";
wpmsc.prop7="404:DHSMS:“ + “:” + document.referer";
    wpmsc.prop8="";
wpmsc.prop9="";
wpmsc.prop10="";
wpmsc.prop11="eingeloggt";
wpmsc.prop35="all_sensors";
wpmsc.prop36="search";
/* Conversion Variables */
wpmsc.eVar4="DHSMS";
wpmsc.eVar7="registriert";

/************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
var s_code=wpmsc.t();if(s_code)document.write(s_code) //--></script>
<script language="JavaScript" type="text/javascript"><!--
if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
//--></script><noscript><a href="http://www.omniture.com" title="Web Analytics"><img
        src="http://deutschepostag.112.2O7.net/b/ss/deutschepostwpmXXX,deutschepostagglobaldev/1/H.20.3--NS/0"
        height="1" width="1" border="0" alt="" /></a></noscript><!--/DO NOT REMOVE/-->
<!-- End SiteCatalyst code version: H.20.3. -->

</body>
</html>
