<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd"
      xml:lang="en" lang="en">
<wicket:remove>
    <head>
        <link href="../../../../../../../../../../adapters/yaml/src/main/resources/org/maxur/yaml/css/my_layout.css" rel="stylesheet" type="text/css"/>
        <!--[if lte IE 7]>
        <link href="../../../../../../../../../../adapters/yaml/src/main/resources/org/maxur/yaml/css/patches/patch_my_layout.css"
              rel="stylesheet" type="text/css"/>
        <![endif]-->

    </head>
</wicket:remove>
<body>
<wicket:panel>
    <p>&copy;2011-2012, <a href="http://www.maxur.org/">Maxim Yunusov</a>. All Rights Reserved.
</wicket:panel>
</body>
</html>
