<!DOCTYPE html>
<html lang="en" xmlns:wicket="http://www.w3.org/1999/xhtml">
<wicket:remove>
    <head>
    </head>
</wicket:remove>
<body>
<wicket:panel>
    <nav id="nav">
        <div class="ym-wrapper">
            <div class="ym-hlist">
                <ul>
                    <li wicket:id="menu_items"><span wicket:id="menu_item">
                        <wicket:remove>
                            <a href="#">Button 1</a>
                        </wicket:remove>
                    </span></li>
                    <wicket:remove>
                        <li class="active"><strong>Active</strong></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                    </wicket:remove>
                </ul>
                <form class="ym-searchform">
                    <input class="ym-searchfield" type="search" placeholder="Search..."/>
                    <input class="ym-searchbutton" type="submit" value="Search"/>
                </form>
            </div>
        </div>
    </nav>
    <!-- end menu -->
</wicket:panel>
</body>
</html>