<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd"
      xml:lang="en" lang="en">
<wicket:head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>Your Page Title</title>
    <wicket:remove>
        <link href="../../components/yaml/css/my_layout.css" rel="stylesheet" type="text/css"/>
        <!--[if lte IE 7]>
        <link href="../../components/yaml/css/patches/patch_my_layout.css" rel="stylesheet" type="text/css"/>
        <![endif]-->
    </wicket:remove>
</wicket:head>
<body>
<wicket:extend>
    <p>
        Please mention the correct Wicket version:
        <span wicket:id="version">[1.5-SNAPSHOT]</span>
    </p>
</wicket:extend>
</body>
</html>