<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
            http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>TaskUN Web Application</display-name>

    <description>The System of maintain and monitoring office's tasks</description>

    <context-param>
        <param-name>configuration1</param-name>
        <param-value>${wicket.configuration}</param-value>
    </context-param>

    <context-param>
        <param-name>configuration</param-name>
        <param-value>development</param-value>
    </context-param>

    <filter>
        <filter-name>guice.filter</filter-name>
        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
    </filter>

    <listener>
        <listener-class>org.maxur.commons.view.conf.Bootstrap</listener-class>
    </listener>

    <filter-mapping>
        <filter-name>guice.filter</filter-name>
        <url-pattern>/app/*</url-pattern>
    </filter-mapping>

    <error-page>
        <error-code>
            404
        </error-code>
        <location>
            /pages/404.html
        </location>
    </error-page>
</web-app>
